
body{
    background-color: rgb(0, 65, 0);
    height: 100vh;
}

.navbar{
    
    a{
        text-decoration: none;
        background-color: rgb(10, 138, 10);
        color: white;
        border: 1px white solid;
        font-size: 20px;
    }
}

section{
    background-color: rgb(2, 66, 2);
    background-image: url(https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 98vw;
    height: 120vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

        div{
            height: 50vh;
            color: white;
            p{
                font-size: 2em;
            }
            h1{
                font-size: 3em;
                
            }
            img{
                
            }
        }
        #battler{
            grid-row: 3;
            grid-column: 1;
            img{
                width: 25vw;
            }
        }
        #combatant{
            grid-column: 3;
            grid-row: 1;
            border: 3px solid white;
            img{
                height: 30vh;
            }
    }

}